<h2>Редактирование <%= @printer.equipment.stationname %></h2>
<%= render partial: 'form', locals: {title: 'Редактирование организации',
                                    submit_name: 'Обновить' }
%>