= title [@organization.name, organization_path(@organization)],
  [@building.name, floors_path(building: @building)],
  [@floor.name, floor_path(@floor, building: @building)],
  'Новая точка'
=render 'form'